<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/AboutUs">About Us</a>
    </li>
    @if (User.IsInRole(NamedConstants.RoleNames.SiteAdmin))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Master
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" asp-area="" asp-page="/Designations/Index">Designations</a></li>
                <li><a class="dropdown-item" asp-area="" asp-page="/Associations/Index">Associations</a></li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Students/ApproveStudentRegistration">Students</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Associations/MembershipSummary">Student Association Membership</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Elections/Index">Elections</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/ViewNominations">Nominations</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Counting">Counting</a>
        </li>
    }
    @if (User.IsInRole(NamedConstants.RoleNames.Student))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Students/StudentProfile">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Students/StudentAssociation">Associations</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Students/Nomination">Nomination</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Vote">Vote</a>
        </li>
    }
</ul>