<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/AboutUs">About Us</a>
    </li>
    @if (User.IsInRole(NamedConstants.RoleNames.SiteAdmin))
    {

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Designations/Index">Designations</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Associations/Index">Associations</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Students/ApproveStudentRegistration">Students</a>
        </li>
    }
    @if (User.IsInRole(NamedConstants.RoleNames.Student))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Students/StudentProfile">Profile</a>
        </li>
    }
</ul>