@page
@model SjcVotersPortal.Pages.Students.ElectionIsInProgress

@{

    ViewData["Title"] = "In Progress";
}

<h1>@ViewData["Title"]</h1>

<p>
    An election for this association is in progress. Now membership cannot be changed.
</p>