@page
@model SjcVotersPortal.Areas.Identity.Pages.Account.StudentRegistrationNotApproved

@{
    ViewData["Title"] = "Not Approved";
}

<h1>@ViewData["Title"]</h1>

Your registration is not approved by Site Admin. Once approved you will be notified by email.